@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
	font-family: "Titillium Web";
	--bg-color: #000;
	--loading-font-color: #fff;
	--loading-text: "LOADING YOUR ADVENTURE...";
	--typewriterSpeed: 2.5s;
	--typewriterCharacters: 22;
	--typewriterDelay: 0.5s;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

button {
	&:hover {
		cursor: pointer;
	}
}

.lock-scroll {
	overflow: hidden;
}

.loader {
	position: absolute;
	top: 0;
	background-color: var(--bg-color);
	height: 100svh;
	width: 100%;
	transition: opacity 0.5s;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.loader--hide {
	opacity: 0;
	pointer-events: none;
}

.container.container--hide {
	display: none;
}

.logo-container {
	position: relative;
	height: 100%;
	width: clamp(250px, 12vw, 300px);

	video {
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 1;
		display: block;
	}
}

.text-container {
	position: relative;
}

.loading-text {
	position: relative;
	color: var(--loading-font-color);
	text-align: center;
	font-family: "JetBrains Mono", monospace;
	font-size: clamp(20px, 1vw, 36px);
	width: max-content;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&::before {
		background: var(--bg-color);
		animation: typewriter var(--typewriterSpeed)
			steps(var(--typewriterCharacters)) var(--typewriterDelay) forwards;
	}

	&::after {
		width: 0.125em;
		background: var(--loading-font-color);
		animation: typewriter var(--typewriterSpeed)
				steps(var(--typewriterCharacters)) var(--typewriterDelay) forwards,
			blink 750ms steps(var(--typewriterCharacters)) infinite;
	}
}

@media (max-width: 1920px) {
	.loading-text {
		font-size: clamp(20px, 1vw, 28px);
	}
}

@media (max-width: 1280px) {
	.loading-text {
		font-size: clamp(16px, 3vw, 22px);
	}
}

@media (max-width: 900px) {
	.logo-container {
		width: clamp(200px, 28vw, 300px);
	}
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@font-face {
	font-family: "Mukta";
	src: url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
